body{
    background-image: url(img/lost-places-pforphoto-leave-factory-158229.jpeg);
    background-size:cover;
    background-position:center;
    color: rgb(194, 14, 14);
    font: 1em;
    font-family: emilys-candy, sans-serif;

}

.btn-remove{
    background-color:rgb(194, 14, 14);
    border: 1px solid black;
    border-radius:2px;
    width:16px;
    text-align:center;
    font-size:10px;
    padding:2px;
    color:white;
}

.ui-items p {
    display:inline;
}

.center-modal{
    text-align:center;
    color:rgb(196, 21, 21);
    width:80%;
    height:60%;
    margin:auto;
    background: #ffffff;
    opacity:0.6;
    border:1px solid black;
    border-radius:10px;
    font-size:1.6em;
    animation-name:moveInLeft;
    animation-duration: 6s;
}

.center-modal input{
    display:block;
    width:25%;
    height:30px;
    background-color:yellow;
    margin:auto;
    font-size:1em;
    color:red;
}

.center-modal button{
    display: block;
    height:30px;
    width:25%;
    margin:auto;
    font-size:.8em;

}

.remove{
    background-color:rgb(194, 14, 14);
    border:1px solid black;
    border-radius:10px;
}

img{
    width:15px;
}

img:hover{
    width:60px;
    
}

img[name='shuriken']{
    position:absolute;
    left: 1200px; 
    top: 570px;
}

img[name='grenade']{
    position:absolute;
    left: 1000px; 
    top: 500px;
}

img[name='sword']{
    position:absolute;
    left: 900px; 
    top: 400px;
}

img[name='bat']{
    position:absolute;
    left: 800px; 
    top: 600px;
}

img[name='mona-lisa']{
    position:absolute;
    left: 700px; 
    top: 260px;
}

img[name='pistol']{
    position:absolute;
    left: 900px; 
    top: 200px;
}

img[name='fairy-wand']{
    position:absolute;
    left: 500px; 
    top: 300px;
}

img[name='rope']{
    position:absolute;
    left: 400px; 
    top: 68px;
}

img[name='key']{
    position:absolute;
    left: 300px; 
    top: 160px;
}

img[name='knife']{
    position:absolute;
    left: 1100px; 
    top: 300px;
}

img[name='candlestick']{
    position:absolute;
    left: 620px; 
    top: 100px;
}

img[name='hammer']{
    position:absolute;
    left: 800px; 
    top: 70px;
}

img[name='bomb']{
    position:absolute;
    left: 600px; 
    top: 200px;
}

img[name='poison']{
    position:absolute;
    left: 400px; 
    top: 500px;
}

img[name='telescope']{
    position:absolute;
    left: 300px; 
    top: 570px;
}


@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    80% {
        transform: translateX(20px);
    }

    100%{
        opacity:1; 
        transform: translateY(0);

    }
}