body{
    background-color:black;
    color: rgb(194, 14, 14);
    font-family: nosifer, fantasy;

}


.background{
    max-width: 100%;
    height: auto;
    text-align:center;
    padding:50px 0;
}



.container{
    width: 80%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.background > h1{
    font-size: 3.5em;
    animation-name:moveInLeft;
    animation-duration: 5s;
}

.room{
    width:45%;
    height:auto;
}



.room img{
  max-width:100%;
  max-height:auto;
  border:1px solid black;
  border-radius:20px;
  margin-bottom:25px;

}

/* @keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(20px);
    }

    100%{
        opacity:1; 
        transform: translateY(0);

    }
} */


